Тетрадка предназначена для студентов образвательного проекта Booster MDS использование вне проекта запрещено.

##### Задания не несут смысловой нагрузки для реальной жизни, они сделаны лишь для того, чтоб научить использовать Pandas

#### Каждое задание оценивает в 1 балл, для успешной сдачи задания нужно набрать 12 баллов

This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them. In particular, the Cleveland database is the only one that has been used by ML researchers to this date. The "goal" field refers to the presence of heart disease in the patient. It is integer valued from 0 (no presence) to 1.

https://www.kaggle.com/ronitf/heart-disease-uci

___

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1eNFlps9YaZZKsH4kgABg4iJUWTCBo98Y')

In [3]:
print(df.isna().sum()) # а хуй вас знает))) 
df.head(5)

age                        0
sex                        0
chest_pain_type            0
resting_blood_pressure     0
cholesterol                0
fasting_blood_sugar        0
rest_ecg                   0
max_heart_rate_achieved    0
exercise_induced_angina    0
st_depression              0
st_slope                   0
num_major_vessels          0
thalassemia                0
target                     0
dtype: int64

   age     sex   chest_pain_type  ...  num_major_vessels   thalassemia target
0   63    male  non-anginal pain  ...                  0        normal      1
1   37    male   atypical angina  ...                  0  fixed defect      1
2   41  female    typical angina  ...                  0  fixed defect      1
3   56    male    typical angina  ...                  0  fixed defect      1
4   57  female    typical angina  ...                  0  fixed defect      1

[5 rows x 14 columns]

#### Описание признаков

**age**: The person's age in years

**sex**: The person's sex (1 = male, 0 = female)

**cp**: The chest pain experienced (Value 1: typical angina, Value 2: atypical angina, Value 3: non-anginal pain, Value 4: asymptomatic)

**trestbps**: The person's resting blood pressure (mm Hg on admission to the hospital)

**chol**: The person's cholesterol measurement in mg/dl

**fbs**: The person's fasting blood sugar (> 120 mg/dl, 1 = true; 0 = false)

**restecg**: Resting electrocardiographic measurement (0 = normal, 1 = having ST-T wave abnormality, 2 = showing probable or definite left ventricular hypertrophy by Estes' criteria)

**thalach**: The person's maximum heart rate achieved

**exang**: Exercise induced angina (1 = yes; 0 = no)

**oldpeak**: ST depression induced by exercise relative to rest ('ST' relates to positions on the ECG plot. See more here)

**slope**: the slope of the peak exercise ST segment (Value 1: upsloping, Value 2: flat, Value 3: downsloping)

**ca**: The number of major vessels (0-3)

**thal**: A blood disorder called thalassemia (3 = normal; 6 = fixed defect; 7 = reversable defect)

**target**: Heart disease (0 = no, 1 = yes)

> 1. age 
> 2. sex 
> 3. chest pain type (4 values) 
> 4. resting blood pressure 
> 5. serum cholestoral in mg/dl 
> 6. fasting blood sugar > 120 mg/dl
> 7. resting electrocardiographic results (values 0,1,2)
> 8. maximum heart rate achieved 
> 9. exercise induced angina 
> 10. oldpeak = ST depression induced by exercise relative to rest 
> 11. the slope of the peak exercise ST segment 
> 12. number of major vessels (0-3) colored by flourosopy 
> 13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

___

**Сколько мужчин в датасете? Сколько женщен? (sex) **

In [4]:
sex_values = df.sex.value_counts()
print('В этом датасете {} мужчин и {} женщин' \
      .format(sex_values['male'], sex_values['female']))

В этом датасете 207 мужчин и 96 женщин

 **Какой процент мужчин в датасете? (решите в одну строчку, не используя предыдущий результат. Не забудте знак процента) **

In [5]:
print(str(round(df['sex'].value_counts(normalize=True)['male']*100, 2)) + '%')
print(str(round(df[df.sex == 'male'].sex.count() * 100 / df.sex.count(), 2)) + '%') #потому что могу

68.32%
68.32%

**Сколько мужчин имеют заболевание сердца? Сколько женщин имеют заболевание сердца? **

In [6]:
heart_disease_by_sex = df[df.target == 1].sex.value_counts()
print('Заболевание сердца у {} мужчин и {} женщин' \
      .format(heart_disease_by_sex['male'], heart_disease_by_sex['female']))

Заболевание сердца у 93 мужчин и 72 женщин

**Какую долю, от общего числа пациентов, занимают мужчины не имеющие болезнь сердца?**

In [7]:
mens_without_heart_disease = df[(df.target == 0) & (df.sex == 'male')].sex
print(str(round(mens_without_heart_disease.count() * 100 / df.sex.count(), 2)) + '%')

37.62%

**Сколько лет самому молодому пациенту, страдающему болезнью сердца?**

In [8]:
df[df.target == 1].age.min()

29

**Сколько лет самому возастному пациенту, у которого нет проблем с сердцем?**

In [9]:
df[df.target == 0].age.max()

77

**Сколько лет самой молодой женщине, которая страдает болезнью сердца?**

In [10]:
df[(df.target == 1) & (df.sex == 'female')].age.min()

34

**Какой средний возраст женщин?**

In [11]:
df[df.sex == 'female'].age.mean()

55.677083333333336

**Каковы средние значения и среднеквадратичные отклонения возраста тех, кто страдают болезнью сердца?**

In [12]:
print(df[df.target == 1].age.mean(), df[df.target == 1].age.std())

52.4969696969697 9.550650751946778

** Правда ли, что люди не болеющие болезнью сердца имеют уровня холестерина меньше среднего? (chol) **

In [22]:
df[df.target == 0].cholesterol.mean() < df.cholesterol.mean()
# mean_cholesterol = df.cholesterol.mean()
# buf = df[df.target == 0].cholesterol.apply(lambda x: x < mean_cholesterol)
# buf.value_counts()

False

**Выведите статистику rest_ecg для все числовых признаков, его максимально и среднее значение (используйте groupby(), решите в одну строчку)**

In [14]:
df.groupby('rest_ecg').agg(['max', 'mean'])

                             age             ... target
                             max       mean  ...    max      mean
rest_ecg                                     ...
ST-T wave abnormality         71  52.914474  ...      1  0.631579
left ventricular hypertrophy  76  61.000000  ...      1  0.250000
normal                        77  55.687075  ...      1  0.462585

[3 rows x 14 columns]

**Посчитайте у кого уровень депрессии при физический нагрузке выше (в среднем), среди мужчин страдающих болезнью сердца или среди женщин не страдающих болезнью сердца (st_depression)**

In [15]:
mean_depress_sick_man = df[(df.target == 1) & (df.sex == 'male')].st_depression.mean()
mean_depress_healthy_woman = df[(df.target == 0) & (df.sex == 'female')].st_depression.mean()
print('У мужчин' if mean_depress_sick_man > mean_depress_healthy_woman else 'У женщин')
print(mean_depress_sick_man, mean_depress_healthy_woman)

У женщин
0.6053763440860216 1.8416666666666666

**Посчтитайте максимальный и минимальный уровень холестерина для каждого типа chest_pain_type, rest_ecg, thalassemia. Пишите код оптимально, можно использовать циклы**

In [16]:
explored_feature = ['chest_pain_type', 'rest_ecg', 'thalassemia']
for feature in explored_feature:
  for ftype in df[feature].unique():
    print(
        'Для \033[92m{}\033[0m из колонки \033[95m{}\033[0m минимальное значение'
        ' холестирина составляет \033[93m{}\033[0m,'
        ' a максимальное -\033[93m {}\033[0m'.format(
            ftype,
            feature,
            df[df[feature] == ftype]['cholesterol'].min(),
            df[df[feature] == ftype]['cholesterol'].max()
        )
    )

Для non-anginal pain из колонки chest_pain_type минимальное значение холестирина составляет 182, a максимальное - 298
Для atypical angina из колонки chest_pain_type минимальное значение холестирина составляет 126, a максимальное - 564
Для typical angina из колонки chest_pain_type минимальное значение холестирина составляет 131, a максимальное - 409
Для normal из колонки rest_ecg минимальное значение холестирина составляет 149, a максимальное - 564
Для ST-T wave abnormality из колонки rest_ecg минимальное значение холестирина составляет 126, a максимальное - 354
Для left ventricular hypertrophy из колонки rest_ecg минимальное значение холестирина составляет 197, a максимальное - 327
Для normal из колонки thalassemia минимальное значение холестирина составляет 169, a максимальное - 318
Для fixed defect из колонки thalassemia минимальное значение холестирина составляет 141, a максимальное - 417
Для reversable defect из колонки thalassemia минимальное значение холестирина составляет 126, a максимальное - 564

**Сколько значений может принимать каждый из категориальных признаков?**

In [17]:
[feature + ' принимает ' + str(len(df[feature].unique())) + ' значения ' \
 for feature in df.columns if df[feature].dtype == object]

['sex принимает 2 значения ',
 'chest_pain_type принимает 3 значения ',
 'fasting_blood_sugar принимает 2 значения ',
 'rest_ecg принимает 3 значения ',
 'exercise_induced_angina принимает 2 значения ',
 'st_slope принимает 2 значения ',
 'thalassemia принимает 3 значения ']

**У какого категориального признака наблюдается самый сильный дизбаланс классов?**

In [18]:
feature_disbalans = { feature: df[feature].value_counts().max()  - df[feature].value_counts().min()\
 for feature in df.columns if df[feature].dtype == object}

max_disb = 0;
feature_with_max_disbal = ''
for key, value in feature_disbalans.items():
  if value > max_disb:
    max_disb = value
    feature_with_max_disbal = key
    
print(feature_with_max_disbal)

# Так, я конечно решил повыебываться, но тут лучше объясню:
# Для всех категориальных признаков ( в этом дф это те что с типом объект, пол в индикатор не переведен)
# вычисляю количества для каждого из уникальных значений например для
# 'sex' это класс male  содержащий 207 записей и класс female ( 96 )
# нахожу класс, с максимальным количеством таких записей и минимальным.
# разницу между ними считаю дисбалансом и записываю словарь, где ключ- 
# это фича, а значение - дисбаланс между классами

fasting_blood_sugar

In [19]:
def disbalance(feature):
     return max(df[feature].value_counts(normalize=True)) - \
            min(df[feature].value_counts(normalize=True))
  

cat_features = [feature for feature in df.columns if df[feature].dtype == object]
disbalance_df = pd.DataFrame(
    index=cat_features,
    data = {'disbalance': [disbalance(feature) for feature in cat_features]}
)
disbalance_df.sort_values(by='disbalance', ascending=False).index[0]

'fasting_blood_sugar'

---

@Booster
Мамкин Data Scientist

tg @mommyscience